/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  font-family: roboto;
  line-height: 150%;
}

body {
  background-color: darkgray;
  background-image: linear-gradient(
    45deg,
    rgb(77, 83, 95) 40%,
    rgb(141, 134, 134) 60%,
    rgb(119, 129, 161) 70%
  );
}

header {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

#header-box {
  font-size: 40px;
  color: #e9d8a6;
  font-family: "Libre Barcode 128 Text", display;
  letter-spacing: 0.1em;
  background: rgb(8, 118, 120);
  background: linear-gradient(
    232deg,
    rgba(8, 118, 120, 1) 0%,
    rgba(11, 165, 168, 1) 12%,
    rgba(12, 189, 192, 1) 15%,
    rgba(14, 210, 214, 1) 18%,
    rgba(14, 212, 216, 1) 37%,
    rgba(15, 236, 240, 1) 51%,
    rgba(14, 212, 216, 1) 57%,
    rgba(12, 189, 192, 1) 69%,
    rgba(11, 165, 168, 1) 72%,
    rgba(9, 142, 144, 1) 89%,
    rgba(8, 118, 120, 1) 93%
  );
  text-shadow: 3px 3px 2px #005f73;
  padding-left: 20px;
  box-shadow: 4px 4px 4px;
  width: 100%;
  margin: auto;
}

#portrai-image {
  background-size: 200px 200px;
  box-shadow: 2px 2px 2px;
  color: #ee9b00;
  border: 2px solid #555;
  width: 200px;
  border-radius: 25% 50% 50% 0%;
  position: relative;
}

.section-box {
  color: black;
  background-color: #005f73;
  _text-shadow: 1px 1px 1px rgb(184, 184, 189);
  padding: 20px;
  box-shadow: 4px 4px 4px;
  margin: 50px 50px;
}

#footer-box {
  color: rgb(55, 40, 194);
  background-color: rgba(155, 155, 155, 0.753);
  text-shadow: 4px 4px 2px rgb(184, 184, 189);
  padding-left: 20px;
  box-shadow: 4px 4px 4px;
  width: 100%;
  margin: auto;
}

#ordered-list {
  list-style-position: inside;
}
